@import url("https://fonts.googleapis.com/css?family=PT+Sans");

/* Defining pure CSS variables */
:root {
  --primary-color: #ec6810;
  --secondary-color: rgb(2, 141, 255);
  --light-color: #f4f4f4;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  /*You can use this for web page color*/
  margin: 0;
  color: rgb(2, 141, 255);
  line-height: 1.6;
}


/* -------------------------Navigation------------------------- */
nav {
  height: 40px;
  width: 100%;
  background-color: var(--primary-color);
  color: #eee;
  position: fixed;
  z-index: 1;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
}

nav li a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #ffffff;
}

nav li a:hover {
  background-color: var(--secondary-color);
  color: #eee;
  text-decoration: none;
}

/* -----------------------Showcase----------------------- */
#showcase {
  margin: 0;
  padding: 0;
  background: url("../img/background-img.jpg") no-repeat center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  
}

#showcase .container {
  margin-top: 25vh;
  text-align: center;
}

#showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: #eee;
}

#showcase h2 {
  font-size: 2rem;
  color: #eee;
}
/* Section */
.section {
  padding: 2rem 0;
}
.section h3 {
  font-size: 2rem;
}

/* -----------------About Us tag----------------- */
.about-us {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  /*u can also just use 1fr, 1fr instead of the repeat method*/
  text-align: left;
  /*text in the container are by default centered*/
}

/* ---Accordion for the about side notes --- */
.accordion {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: var(--secondary-color);
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* ----------------What we do div section---------------- */
.features-boxed {
  color: #313437;
}

.features-boxed p {
  color: #7d8285;
}

.features-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width: 767px) {
  .features-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.features-boxed .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.features-boxed .intro p {
  margin-bottom: 0;
}

.features-boxed .features {
  padding: 50px 0;
}

.features-boxed .item {
  text-align: center;
}

.features-boxed .item .box {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
}

.features-boxed .item .icon {
  font-size: 60px;
  color: #1485ee;
  margin-top: 20px;
  margin-bottom: 35px;
}

.features-boxed .item .name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  margin-top: 0;
  color: inherit;
}

.features-boxed .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: left;
  color: #000;
}
/* --------------------Contact form-----------------  */

.container_contact {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.wrapper {
  box-shadow: 0 0 2px 0 var(--primary-color);
}

.wrapper > * {
  padding: 1em;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
  color: #000;
}
@media screen and(max-width: 580px) {
  .company-info .map {
    display: none;
  }
}

/* FORM STYLES */
.contact {
  color: #000;
}
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #c9e6ff;
}

.contact form button {
  background: var(--primary-color);
  border: 0;
  text-transform: uppercase;
  color: #fff;
}

.contact form button:hover,
.contact form button:focus {
  background: var(--secondary-color);
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}

.alert {
  text-align: center;
  padding: 10px;
  background: #79c879;
  color: #fff;
  margin-bottom: 10px;
  display: none;
}

/* LARGE SCREEN WITH MEDIA  */
@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .wrapper > * {
    padding: 2em;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}

/* ----------------------Map---------------------- */
.map {
  border-radius: 2px solid #000;
  background: #fff;
  /* padding: 1em; */
}

.map iframe {
  width: 100%;
  height: 400px;
  border: none;
}

@media screen and (max-width: 780px) {
  .container_contact .wrapper .company-info .map iframe {
      display: none;
  }
}

/* -------------------------------- Footer  -------------------------------- */

footer{
  background-color: #fff;
}

footer .container{
  padding-bottom: 2px;
}

.three_clo{
  color: #000;
  padding: 10px;
  margin-top: 40px;
}

.three_clo h4{
  letter-spacing: 2px;
  color: #ff4f18;
}

.three_clo p {
  text-align: left;
}

.three_clo input[type="email"]{
  width: 84%;
  display: inline-block;
  /* background-color: #fff; */
  border: 1px solid var(--primary-color);
  outline: none;
  padding: 0.5em;
  font-size: 13px;
  color: #999999;
}

.btn1{
  color: var(--primary-color);
  font-size: 18px;
  border: 1px solid var(--primary-color);
  width: 14%;
  height: 38px;
  text-decoration: none;
  background: var(--light-color);
}

.mid-row{
  border: 4px solid var(--primary-color);
  color: #000;
  padding: 35px;  
  text-align: center;
  background: #fff;
  margin-top: 10px;
}

.mid-row h4 {
  font-size: 30px;
  color: var(--primary-color);
  letter-spacing: 2px;
}

.social-icon i {
  margin-top: 0.5em;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 37px;
  border: 1px solid var(--primary-color);
  font-size: 16px;
  color: var(--primary-color);
  cursor: pointer;

}

.social-icon i:hover{
  color: #000;
}

.footer_contact{
  color: #000;
  padding: 10px;
  margin-top: 40px;

}

.footer_contact h4 {
  letter-spacing: 2px;
  color: var(--primary-color);
}

.footer_contact p{
  text-align: left;
}

.footer_contact i{
  color: var(--primary-color);
  padding-right: 20px;
}

.number {
  color: #000;
}

.number a{
  color: #000;
}


footer .footer-bottom {
  background: #ffffff;
  padding: 1rem;
  color: #000;
} 


/* ------------------Utility cases------------------ */

.bg-light {
  background: var(--light-color);
  color: #333;
}

.text-center {
  text-align: center;
}

/* -------------Media queries for page dimensions------------- */

@media screen and (max-width: 780px) {
  .container_contact .wrapper .company-info .map iframe {
      display: none;
  }
}

/* Nav bar section */
@media screen and (max-height: 580px) {
  #showcase p.lead {
    display: none;
  }
}

/* ---------Footer  / NAV------------ */


@media screen and (max-width: 580px) {
  .hide-on-small, .mid-row {
    display: none;
  }

  #showcase {
    height: 50vh;
  }

  #showcase .container {
    margin-top: 15vh;
  }

  #showcase h1 {
    font-size: 3rem;
  }

  #showcase h2 {
    font-size: 1.5rem;
  }

  nav {
    height: auto;
    border-bottom: 0;
  }

  nav ul {
    display: none;
    height: auto;
  }

  nav li {
    width: 100%;
    float: left;
    position: relative;
  }

  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #333;
    border-bottom: 1px solid #555;
  }

  nav a:hover {
    background: #444;
  }

  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }

  nav a#openup {
    display: block;
    background-color: #333;
    width: 100%;
    position: relative;
  }

  .cf:before,
  .cf:after {
    content: "";
    display: table;
  }

  .cf:after {
    clear: both;
  }

  .cf {
    zoom: 1;
  }
}

@media screen and (max-width: 780px) {
  .about-us {
    grid-template-columns: 1fr;
  }

  footer .footer-cols {
    display: none;
  }
}

@media screen and (max-height: 580px) {
  #showcase p.lead {
    display: none;
  }
}